<!-- Navbar -->
<div class="navbar-recovr hidden-sm hidden-xs">
  <a href="#banner" class="iggrow-logo">
    iggrow
  </a>
  <div class="nav-container">
    <div class="nav-element">
      <a href="#why">
        <%= t('landing.navbar.discover') %>
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="#how">
        <%= t('landing.navbar.how_it_works') %>
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="#pricing">
        <%= t('landing.navbar.pricing') %>
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="#contact">
        <%= t('landing.navbar.contact_us') %>
      </a>
    </div> <!-- End .nav-element -->
  </div>
</div>

<div class="navbar-recovr-mobile hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <%= image_tag("iggrow-logo.svg", class: "nav-logo-mobile") %>
      </div>
    </div>
  </div>
</div>
