<div id="how">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="section-title">How it works?</h2>
      </div>
    </div>

    <div class="row feature">
      <!-- Illustration mobile & desktop -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= image_tag("illu-test.png", class: "feature-illu") %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">Develop an Instagram Strategy</h3>
            <div class="features-desc"> Through an online form, our team will get a better understanding of how your business works: where your target audience is located, what they are interested in, and which other accounts they follow.</div>
          </div>
        </div>
      </div>
    </div><!-- End .row .feature -->

    <div class="row feature">
      <!-- Illustration mobile -->
      <div class="hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag("illu-test.png", class: "feature-illu") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">Configuration of Your Campaign</h3>
            <div class="features-desc">Next we will configure the chosen targeting strategy into our software. Your account will then start interacting automatically with your target audience. These interactions are most often a combination of liking pictures and following users within a specific market.</div>
          </div>
        </div>
      </div>
      <!-- Illustration desktop -->
      <div class="hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag("illu-test.png", class: "feature-illu") %>
        </div>
      </div>
    </div><!-- End .row .feature -->

    <div class="row feature">
      <!-- Illustration mobile & desktop -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= image_tag("illu-test.png", class: "feature-illu") %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">Increased Brand Awareness</h3>
            <div class="features-desc">As soon as the first interactions are initiated, results are visible instantly. Your Instagram profile will grow faster by receiving more likes, comments and followers. There will be a growing stream of traffic to your website as more users discover your profile.</div>
          </div>
        </div>
      </div>
    </div><!-- End .row .feature -->

    <div class="row feature">
      <!-- Illustration mobile -->
      <div class="hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag("illu-test.png", class: "feature-illu") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">Increased Sales Conversions</h3>
            <div class="features-desc">Once your campaign launches, the amplification machine starts. Targeted followers are leads to your business. Leads can be turn into loyal customers.</div>
          </div>
        </div>
      </div>
      <!-- Illustration desktop -->
      <div class="hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= image_tag("illu-test.png", class: "feature-illu") %>
        </div>
      </div>
    </div> <!-- End .row .feature -->
  </div>
</div>
