<div id="pricing">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <div class="amount-followers">
              <p><strong>700 - 1000</strong> <br> <span>targeted Followers per month</span></p>
            </div>
            <ul>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Follow / Unfollow</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Like</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Limited support</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Monthly report</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-unchecked"></i>
                <p>Comments</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-unchecked"></i>
                <p>Direct Messages</p>
              </li>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title">STARTER</h3>
            <div class="price">59 €</div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_basic_path %>
            </button>
          </div>
        </div>
        <div class="cup-coffee text-center">
          *or 1 cup of <%= image_tag("emoji-coffee.png", class: "emoji") %> a day
          <%= image_tag("emoji-smile.png", class: "emoji") %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <li class="pricing-spec amount-followers">
                <p><strong>1000 - 1500</strong> <br> <span>targeted Followers per month</span></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Follow / Unfollow</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Like</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Limited support</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Monthly report</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Comments</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-unchecked"></i>
                <p>Direct Messages</p>
              </li>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title">STANDARD</h3>
            <div class="price">89 €</div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_intermediate_path %>
            </button>
          </div>
        </div>
        <div class="cup-coffee text-center">
          *or 2 cup of <%= image_tag("emoji-coffee.png", class: "emoji") %> a day
          <%= image_tag("emoji-smile.png", class: "emoji") %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <ul>
              <li class="pricing-spec amount-followers">
                <p><strong>+ 1500</strong> <br> <span>targeted Followers per month</span></p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Follow / Unfollow</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Like</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Comments</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Direct Messages</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Limited support</p>
              </li>
              <li class="pricing-spec">
                <i class="fas fa-check-circle circle-checked"></i>
                <p>Monthly report</p>
              </li>
            </ul>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title">PLUS</h3>
            <div class="price">159 €</div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_pro_path %>
            </button>
          </div>
        </div>
        <div class="cup-coffee text-center">
          *or 3 cup of <%= image_tag("emoji-coffee.png", class: "emoji") %> a day
          <%= image_tag("emoji-smile.png", class: "emoji") %>
        </div>
      </div>
    </div>
</div>
